<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API</title>
</head>
<body>
    <h1>Request-method - {{request_method}}</h1>

    <h1>Form</h1>

    <form method="POST" action="/">
        <input type="text" placeholder="first name" name="fname" id="">
        <input type="text" placeholder="last name" name="lname" id="">
        <input type="submit"  name="" id="">
    </form>
    
</body>
</html>